@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mainBg;
}

/* text content */
.text-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-1 border-l-4 border-l-secondary pl-2 text-white md:text-black;
  }

  h1 {
    @apply text-3xl font-medium;
  }

  h2 {
    @apply text-2xl font-medium;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-lg font-medium;
  }

  h5 {
    @apply font-medium;
  }

  h6 {
    @apply text-sm font-medium;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply text-primary duration-150 hover:brightness-75;
  }

  img,
  video {
    @apply mb-2 max-w-[min(700px,100%)];
  }

  ul,
  ol {
    @apply px-2 py-1;
  }

  hr {
    @apply my-4;
  }
}

/* banner slider */
.banner-slider .slick-dots {
  list-style: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.banner-slider .slick-dots li {
  background-color: #fafafa;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.banner-slider .slick-dots li.slick-active {
  background-color: #f231a5;
}

.banner-slider .slick-dots li:focus-within {
  background-color: #f231a5;
}

.banner-slider .slick-dots li button {
  opacity: 0;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.banner-slider .slick-slide {
  visibility: hidden;
}

.banner-slider .slick-slide.slick-active.slick-current {
  visibility: visible;
}

@media (min-width: 768px) {
  .banner-slider .slick-dots {
    position: absolute;
    right: 0;
    flex-direction: column;
    height: 100%;
    top: 0;
    margin: 0;
  }

  .banner-slider .slick-dots li {
    margin: 8px 0;
  }
}

/* game card slider */
.game-card-slider .slick-track,
.game-card-slider .slick-list {
  display: flex;
  gap: 16px;
}

.game-card-slider .slick-slide > div {
  flex: 1 0 auto;
  height: 100%;
}

.game-card-slider .slick-prev,
.game-card-slider .slick-next {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  transform: translate(0, -50%);
}

.game-card-slider .slick-prev {
  left: -56px;
}

.game-card-slider .slick-next {
  right: -56px;
}

.game-card-slider .slick-prev.slick-disabled,
.game-card-slider .slick-next.slick-disabled {
  visibility: hidden;
}

body .slick-prev::before,
body .slick-next::before {
  display: none;
}

/* section white */
.section-white {
  position: relative;
  margin-top: -140px;
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: #fafafa;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

/* background footer */
.bg-footer {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #fafafa;
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
}

@media (min-width: 768px) {
  .bg-footer {
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  }
}
