import { FC } from 'react';

export type {{pascalCase name}}Props = {
  title?: string;
};

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({
  title = '{{pascalCase name}}',
}) => {
  return (
    <div>
      <h1 className="text-4xl font-bold underline">{title}</h1>
    </div>
  );
};
